/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f07c7c;
  color: #333;
  line-height: 1.6;
  padding: 4rem;
}

/* Header styles */
header {
  background-color: #f07c7c;
  color: #fff;
  text-align: center;
  padding: 1rem;
  
}

header h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: bolder;
  font-size:750%;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

main p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* List styles */
ul, ol {
  list-style: none;
  font-size: 1.8rem;
}

/* Footer styles */
footer {
  background-color: #f07c7c;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
}

footer a {
  color: #fff;
  text-decoration:dotted;
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;                   
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  main {
      padding: 1rem;
  }
}
